@import "../../variables";

// LOCAL VARIABLES
$transition_speed: 0.2s;
$idle_height: -9px;
$pressed_height: -6px;
$border_radius: 11px;

.root {
  position: relative;
  display: flex;
  justify-content: center;
  transition: $transition_speed;
  background-color: $color_confirm;
  box-shadow: inset 0 $idle_height 0 rgba(0, 0, 0, 0.18);
  border-radius: $border_radius;
  padding: 1rem;
  cursor: pointer;

  //margin-right: auto;


  &:after {
    transition: $transition_speed;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    border-radius: $border_radius;
    opacity: 0;
    mix-blend-mode: soft-light;
  }

  &:hover {
    &:after {
      opacity: 0.3;
    }
  }

  &:active {
    box-shadow: inset 0 $pressed_height 0 rgba(0, 0, 0, 0.18);
    margin-top: -$idle_height + $pressed_height;

    span {
      margin-bottom: -$pressed_height;
    }
  }

  &:focus {
    &:after {
      opacity: 0.5;
    }
  }


  span {
    transition: $transition_speed;
    margin-bottom: -$idle_height;

    align-self: flex-start;

    pointer-events: none;

    font-family: Karla, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: $color_dark;
    /* identical to box height */

  }
}

.full-width {
  align-self: stretch;
  width: 100%;
}

.small {
  padding: 0.5rem;

  span {
    font-size: 13px;
    line-height: 17px;
  }
}