@import "../../variables";

.root {
  //min-height: 100vh;
  //background: $background_default;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  button {
    align-self: flex-start;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .content-left {

  }

  .content-right {
    margin-right: -159px;
  }

  button {
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 32px;
    font-weight: bold;
    letter-spacing: 4px;
  }

  h3 {
    margin-bottom: 48px;
    font-weight: normal;
  }
}

.banner {
  transform: scale(.5);
}
