$color_third: #F5DB13;
$color_primary: #F2B807;
$color_secondary: #F28F16;
$color_danger: #D93E30;
$color_confirm: #73D677;
$color_white: #F2F2F2;
$color_dark: #212121;

$background_primary_gradient: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
$background_white_gradient: linear-gradient(180deg, #FFFFFF 30.32%, #F5F5F5 100%);