@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "variables";

* {
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;

  font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  margin: 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

button {
  outline: none;
  border: none;
  padding: 0 0;
}


.bg-primary {
  background-color: $color_primary;
}

.bg-secondary {
  background-color: $color_secondary;
}

.bg-confirm {
  background-color: $color_confirm;
}

.bg-danger {
  background-color: $color_danger;
}

.bg-warning {
  background-color: $color_third;
}

.bg-primary-gradient {
  background: $background_primary_gradient;
}

.bg-grey-gradient {
  background: $background_white_gradient;
}

.bg-white {
  background-color: $color_white;
}


.color-error {
  color: $color_danger
}